   <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo poetsen-one-regular">
        I. Iferenta
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="static/images/pictures/IMG-1.jpg" width="84" height="26" alt="logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="./allBooks.html" class="navbar-link" data-nav-link>Wisdom Books</a>
          </li>

           <li>
            <a href="#project" class="navbar-link" data-nav-link>Short Stories</a>
          </li>

          <li>
            <a href="./song.html" class="navbar-link" data-nav-link>Music</a>
          </li>

          <li>
            <a href="#project" class="navbar-link" data-nav-link>Poetry</a>
          </li>

          <li>
            <a href="#project" class="navbar-link" data-nav-link>Novels</a>
          </li>

          <li>
            <a href="#review" class="navbar-link" data-nav-link>Others</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link" data-nav-link>Contact</a>
          </li>

        </ul>

      </nav>

      <a href="./login.html" class="btn btn:hover">
        <span class="span">Admin</span>

        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
      </a>

      <button class="nav-open-btn btn:hover" aria-label="open menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-2"></span>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>
