<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
</head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!--
    - custom css link
  -->

    <link rel="stylesheet" href="static/client/css/stylebooks.css">
  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">
<body>

    <!-------------------------------------- # Poetry--------------------------------------->

      <section class="section achievement" id="achievements" aria-label="achievement">
        <div class="container">


          <h2 class="h2 section-title has-underline">
            Poetry
            <span class="span has-before"></span>
          </h2>

          <ul class="grid-list">
            <a href="./book.html">
              <li>
                <div class="achievement-card">

                    <figure class="card-banner img-holder" style="--width: 450; --height: 700;">
                    <img src="static/client/images/books/poetry/poetry-1.JPG" width="450" height="300" loading="lazy" alt="Nominated"
                      class="img-cover">
                    </figure>


                  <div class="card-content">

                    <img src="static/client/images/books/poetry/poetry-1.JPG" width="450" height="300" loading="lazy" alt="trophy"
                      class="abs-img">

<!--                    <h3 class="h3 card-title">Nominated</h3>-->

<!--                    <p class="card-text">-->
<!--                      International Thriller Writers Award for Best Novel (These Toxic Things)-->
<!--                    </p>-->

                  </div>

                </div>
              </li>
            </a>

            <a href="./book.html">
                <li>
                  <div class="achievement-card">

                    <figure class="card-banner img-holder" style="--width: 450; --height: 700;">
                      <img src="static/client/images/books/poetry/poetry-2.JPG" width="450" height="300" loading="lazy" alt="Winner"
                        class="img-cover">
                    </figure>

                    <div class="card-content">

                      <img src="static/client/images/books/poetry/poetry-2.JPG" width="450" height="300" loading="lazy" alt="trophy"
                        class="abs-img">

                      <h3 class="h3 card-title"></h3>

<!--                      <p class="card-text">-->
<!--                        International Thriller Writers Award for Best Novel (These Toxic Things)-->
<!--                      </p>-->

                    </div>

                  </div>
              </li>
            </a>


          </ul>

        </div>
      </section>

      <!--    js script link-->
    <script src="static/client/js/scriptbooks.js"></script>

  <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>